/* basic css for the regular webpage */
:root {
  --dark-color: #000000;
  --light-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

/* changing themes */
.dark-theme {
  background-color: var(--dark-color);
  border-bottom: 2px solid var(--light-color);
  color: var(--light-color);
  border-color: var(--light-color);
}

.light-theme {
  background-color: var(--light-color);
  border-bottom: 2px solid var(--dark-color);
  color: var(--dark-color);
  border-color: var(--dark-color);
}

/* navbar */
header {
  border-bottom: 2px solid;
}

.navbar {
  margin: 20px 0 10px 0;
  padding: 10px;
}

.navbar #left-nav li {
  display: inline;
  padding: 0 20px 0 10px;
  font-size: 20px;
}

.navbar #right-nav li {
  display: inline;
  position: relative;
  top: -20px;
  left: 95%;
  font-size: 20px;
}

/* links */
a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  color: var(--dark-color);
}

/* hovering for the links */
a:hover {
  font-size: 35px;
}

/* footer of the page */
footer {
  border-top: 2px solid;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

p {
  margin-top: 10px;
}
